:root {
    --primary-color: #86bbff;
    --accent-color: #a1cfff;
    --text-color: #c3e5ff;
    --background-color: #031221;
    --card-bg: #2361e352;
    --tip-bg: #00103d;
    --tip-border: #098AE1;
    --border-color: #6cc9ff;
    --light-text: #95ACFB;
    --session-title-color: #ffffff;
    --session-background-color: #4365ff5c;
} 