/* Card components */
.card {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Navigation components */
.nav-outline {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Progress bar */
#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: var(--accent-color);
    width: 0%;
    z-index: 9999;
}

/* Animations */
@keyframes shine {
    0% { background-color: transparent; }
    50% { background-color: var(--primary-light); }
    100% { background-color: transparent; }
} 

/* Specific styles for the diffusion steps page */
.explain-doc {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--card-bg);
    border-radius: 8px;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

/* Specific styles for the Stable Diffusion Explained page */
.step-box {
    padding: 20px;
    background-color: var(--card-bg);
    border-radius: 8px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    /*image*/
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 8px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    /*text*/
    p {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}






